<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Перечень заявок по неисправностям</title>
		<link type="text/css" rel="stylesheet" href="bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="main.css">
		<script src="jquery-3.1.1.min.js"></script>
		<script src="bootstrap.min.js"></script>
	</head>
	<body>
		<div id='flexbox-container'>
			<hr />
			<div id='content'>
				<div id="wrap" class="wrap panel row">
					<div class="row panel-heading alert-info noMargin">
						<div class="cell col-xs-1"><h3>ID</h3></div>
						<div class="cell col-xs-6"><h3>ФИО Обращавшегося</h3></div>
						<div class="cell col-xs-2"><h3>Отделение</h3></div>
						<div class="cell col-xs-2"><h3>Кабинет</h3></div>
					</div>
					{{#each vals}}
						{{#if this.done}}
							<div class="panel panel-success">
						{{else}}
							<div class="panel panel-danger">
						{{/if}}
								<div class="row panel-heading noMargin" >
									<div class="cell col-xs-1"><h4>{{this.request_id}}</h4></div>
									<div class="cell col-xs-6"><h4>{{this.fio}}</h4></div>
									<div class="cell col-xs-2"><h4>
										{{#ifCond this.department "==" 1}}
											ШО1
										{{else}}
											{{#ifCond this.department "==" 2}}
												ШО2
											{{else}}
												{{#ifCond this.department "==" 3}}
													ШО3
												{{else}}
													{{#ifCond this.department "==" 4}}
														ДО1
													{{else}}
														{{#ifCond this.department "==" 5}}
															ДО2
														{{else}}
															{{#ifCond this.department "==" 6}}
																ДО3
															{{else}}
																ДО4
															{{/ifCond}}
														{{/ifCond}}
													{{/ifCond}}
												{{/ifCond}}
											{{/ifCond}}
										{{/ifCond}}
									</h4>
									</div>
									<div class="cell col-xs-2"><h4>{{this.room}}</h4></div>
									<button  type="button" class="btn btn-danger col-xs-1" data-toggle="collapse" data-target="#req_{{this.request_id}}">
										<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
									</button>
									<div id="req_{{this.request_id}}" class="row collapse description panel-body col-xs-12">
										<div class="cell col-xs-4"><h4>{{this.description}}</h4></div>
										<div class="cell col-xs-4">Заявка создана: {{this.createdAt}}</div>
										<div class="cell col-xs-4">Заявка обновлена: {{this.updatedAt}}</div>
									</div>
								</div>
							</div>
					{{/each}}
				</div>
			</div>
		</div>
	</body>
</html>