<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Статусы заявок</title>
		<link type="text/css" rel="stylesheet" href="bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="main.css">
		<script src="jquery-3.1.1.min.js"></script>
		<script src="bootstrap.min.js"></script>
	</head>
	<body>
		{{> header}}

		<div id='flexbox-container'>
			<div class="panel-heading">
				<h1>
					Статус заявок от пользователей. Гимназия № 1799 "Экополис"
				</h1>
			</div>
			<div class="description" style='margin-top: 5px'>
				<div class="row">
					<div class="alert alert-success col-xs-1" width="50px" height="50px"></div>
					<span><h3 style="margin-top: 0px">Заявка выполнена</h3></span>
				</div>
				<div class="row">
					<div class="alert alert-danger col-xs-1" width="50px" height="50px"></div>
					<span><h3 style="margin-top: 0px">Заявка в обработке</h3></span>
				</div>
			</div>
				
			<div id='content'>
				<div id="wrap" class="wrap panel row">
					<div class="row panel-heading alert-info noMargin">
						<div class="cell col-xs-2"><h3>ID заявки</h3></div>
						<div class="cell col-xs-2"><h3>Отделение</h3></div>
						<div class="cell col-xs-2"><h3>Кабинет</h3></div>
						<div class="cell col-xs-4"><h3>Дата создания заявки</h3></div>
					</div>
					{{#each vals}}
						{{#if this.done}}
							<div class="panel panel-success">
						{{else}}
							<div class="panel panel-danger">
						{{/if}}
								<div class="row panel-heading noMargin" >
									<div class="cell col-xs-2"><h4>{{this.request_id}}</h4></div>
									<div class="cell col-xs-2"><h4>
										{{#ifCond this.department "==" 1}}
											ШО1
										{{else}}
											{{#ifCond this.department "==" 2}}
												ШО2
											{{else}}
												{{#ifCond this.department "==" 3}}
													ШО3
												{{else}}
													{{#ifCond this.department "==" 4}}
														ДО1
													{{else}}
														{{#ifCond this.department "==" 5}}
															ДО2
														{{else}}
															{{#ifCond this.department "==" 6}}
																ДО3
															{{else}}
																ДО4
															{{/ifCond}}
														{{/ifCond}}
													{{/ifCond}}
												{{/ifCond}}
											{{/ifCond}}
										{{/ifCond}}
									</h4>
									</div>
									<div class="cell col-xs-2"><h4>{{this.room}}</h4></div>
									<div class="cell col-xs-4">{{this.createdAt}}</div>
									</div>
							</div>
					{{/each}}
				</div>
			</div>
		</div>
	</body>
</html>